#rn_ad_native_uwk37.ads-banner.mt-3
  script(src="//cdn.runative-syndicate.com/sdk/v1/n.js")
  script.
    NativeAd({
      element_id: "rn_ad_native_uwk37",
      spot: "e54b029384b64345b2022510a08ac5e6",
      type: "label-under",
      cols: 4,
      rows: 1,
      title: "Suggested for you",
      titlePosition: "left",
      adsByPosition: "right",
      breakpoints: [
        {
          "cols": 2,
          "width": 770
        }
      ],
      styles: {
        "label": {
          "color": "#ffffff"
        },
        "headlineLink": {
          "color": "#ffffff"
        },
        "container": {
          "color": "#faf7f7"
        }
      }
    });