<!-- Ads Managed by AdSpyglass.com -->
.ads-banner.common-style-content-web
  iframe(class="na", frameborder="0", scrolling="no", width="100%", height="100%", sandbox="allow-scripts allow-popups allow-forms allow-same-origin", src="//a.o333o.com/api/spots/278174?p=1&s1=&kw=")
