#rn_ad_native_28zph.ads-banner.common-style-content-web
  script(src="//cdn.runative-syndicate.com/sdk/v1/n.js")
  script.
    NativeAd({
      element_id: "rn_ad_native_28zph",
      spot: "0c926406ac5d4b3d8502a133d09194ca",
      type: "label-under",
      cols: 4,
      rows: 1,
      title: "Suggested for you",
      titlePosition: "left",
      adsByPosition: "right",
      breakpoints: [
        {
          "cols": 4,
          "width": 770
        }
      ],
      styles: {
        "label": {
          "color": "#ffffff"
        },
        "headlineLink": {
          "color": "#ffffff"
        },
        "container": {
          "color": "#faf7f7"
        }
      }
    });