#rn_ad_native_kvzb3.ads-banner.common-style-content-web
  script(src="//cdn.runative-syndicate.com/sdk/v1/n.js")
  script.
    NativeAd({
      element_id: "rn_ad_native_kvzb3",
      spot: "1895343ccf464a45ba069ef77066d4cd",
      type: "label-under",
      cols: 4,
      rows: 1,
      title: "Suggested for you",
      titlePosition: "left",
      adsByPosition: "right",
      breakpoints: [
        {
          "cols": 2,
          "width": 770
        }
      ],
      styles: {
        "label": {
          "color": "#ffffff"
        },
        "headlineLink": {
          "color": "#ffffff"
        },
        "container": {
          "color": "#faf7f7"
        }
      }
    });