extend layout

block more_stylesheet
  link(rel="stylesheet", href="/stylesheets/detail.css")

block content

  div.content-website
  
    div.container.px-md-1

      include partial/navbar.pug

      include partial/movie_info.pug

      include partial/movie_video.pug

      include partial/movie_play.pug

      include partial/footer.pug

block more_script
  script(src="/javascripts/detail_movie_javascript.js")

