doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="asg_verification", content="2isNspLEsEnJf61ib5tCR23M")
    meta(property="fb:admins", content="100003269515531")

    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/common_style.css')
    link(rel="icon", href='/images/icon.png')
    block more_stylesheet
  body#contentPage
    block content

    include partial/common_javascript.pug

    block more_script