extends layout

block more_stylesheet
  link(rel="stylesheet", href="/stylesheets/search.css")

block content

  div.content-website
    div.container.px-2.px-md-3

      include partial/navbar.pug

      include partial/ads/ads_top_banner_search.pug

      #indexHeader
        h2.index-header-title.text-white Buscar : #{reqKeyword}

      include partial/movie_list.pug
      
      include partial/ads/ads_footer_banner_search.pug

      include partial/footer.pug

block more_script
  script.
    var reqKeyword = #{reqKeyword != undefined ? "'" + reqKeyword + "'" : "''"};
    var reqPage = #{reqPage != undefined ? "'" + reqPage + "'" : "''"};

  script(src="javascripts/search_javascript.js")

  script(src="javascripts/search_ads_click.js")


