.my-3.pt-3.border.border-left-0.border-right-0.border-bottom-0.border-secondary.row.no-gutters.text-small
  .col-12.col-sm-8.order-1.order-sm-0
    div
      a.text-white.font-italic(href="https://proxpolicy.github.io", target="_blank") Política de privacidad

    div.mt-3
      p.text-white.font-italic @ Copyright PROX 2020

    div.mt-3
      p.text-white.font-italic PROX developer team 
        a.text-success.font-italic(href="http://prox.com.vn", target="_blank") http://prox.com.vn
    
  .col-12.col-sm-4.mb-3.mb-sm-0.order-0.order-sm-1
    div.d-inline-block.d-sm-block.w-sm-100
      a(href="https://play.google.com/store/apps/details?id=com.prox.seriesanimetv.seriesanimegratisenespanol", target="_blank")
        img.rounded(src="/images/icon_anime_app.png", width=40, height=40)
        span.font-italic.text-white.ml-2 Anime aplicación

    div.d-inline-block.d-sm-block.float-right.float-sm-left.w-sm-100.mt-sm-3.mt-0.ml-3.ml-sm-0
      a(href="https://play.google.com/store/apps/details?id=com.pelisplus.peliculas.completa", target="_blank")
        img.rounded(src="/images/icon_movie_app.png", width=40, height=40)
        span.font-italic.text-white.ml-2 Movie aplicación

.loading-icon