.my-3.pt-3.border.border-left-0.border-right-0.border-bottom-0.border-secondary

  div
    a.text-white.font-italic(href="https://proxpolicy.github.io", target="_blank") Política de privacidad

  div.mt-3
    p.text-white.font-italic @ Copyright PROX 2020

  div.mt-3
    p.text-white.font-italic PROX developer team 
      a.text-primary.font-italic(href="http://prox.com.vn", target="_blank") http://prox.com.vn
  
.loading-icon