#detailPlayArea.no-gutters.pt-3.border.border-left-0.border-right-0.border-bottom-0.border-secondary.d-none
  span#detailViewName.w-auto.mx-auto.text-white.text-medium.font-weight-bold
  video#detailVideoView.border.border-white.w-100.h-auto.mt-3(controls=true, src="")
  iframe#detailYoutubeView.border.border-white.w-100.mt-3(frameborder="0", allowfullscreen=true)