nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-dark.common-style-navbar.px-2.px-md-3.container
  a.navbar-brand(href="/")
    img.d-inline-block.align-middle.w-auto(alt=title, height="42", src="/images/icon.png", loading="lazy")
    span.common-style-navbar-brand.ml-2 GoGo Anime
  button.navbar-toggler.bg-success(type="button", data-toggle="collapse", data-target="#navbarMain", aria-control="#navbarMain", aria-expanded="false", aria-lable="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarMain
    form.form-inline.pl-2.my-2.ml-auto(action="/search", method="get")
      input#searchBox.form-control.w-auto(type="search", placeholder="Buscar anime", aria-lable="Search", name="keyword", value=reqKeyword) 
      button#searchButton.btn.btn-outline-success.ml-2.my-2.my-sm-0 Buscar
